body {
    background: rgb(202,194,192);
}
#main{
  padding-top: 25px;
}
#calc {
  background: rgb(52, 73, 94);
  border-color: black;
  border-style: solid;
  width: 212px;
  height: 280px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #888888;
}
#display {
  background: rgb(103, 137, 171);
  height: 80px;
}
#input{
  display: flex;
}
#numbers{
}
li:hover{
  background-color: rgb(64, 89, 115);
}
.numbers{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.numbers li {
  border: 1px;
  border-style: solid;
  padding: 15px;
}
#period{
  padding-left: 37px;
  padding-right: 37px;
}
.operators{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.operators li {
  border: 1px;
  border-style: solid;
  padding: 15px;
}
.actions{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.actions li {
  border: 1px;
  border-style: solid;
  padding: 15px;
}
#equals{
  padding-top: 40px;
  padding-bottom: 40px
}
