body {
    background: rgb(202,194,192);
}
#main{
  padding-top: 100px;
}
#calc {
  background: rgb(114,80,107);
  border-color: black;
  border-style: solid;
  width: 300px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #888888;
}
#display {
  background: rgb(209,190,205);
  height: 100px;

}
