body {
    background: rgb(202,194,192);
}
p{
  color: white;
}
#main{
  padding-top: 25px;
}
#calc {
  background: rgb(52, 73, 94);
  border-color: black;
  border-style: solid;
  width: 250px;
  height: 280px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #888888;
}
#display {
  background: rgb(103, 137, 171);
  height: 80px;
}
#input{
  display: flex;
}
#numbers{
}
li{
  text-align: center;
  vertical-align: middle;
}
li:hover{
  //background-color: rgb(64, 89, 115);
  background-color: rgb(41, 58, 75);
}
.numbers{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.numbers li {
  outline-style: solid;
  outline-width: thin;
  width: 50px;
  height: 50px;
}
#period{
  width: 100px;
}
.operators{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.operators li {
  outline-style: solid;
  outline-width: thin;
  width: 50px;
  height: 50px;
}
.actions{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.actions li {
  outline-style: solid;
  outline-width: thin;
  width: 50px;
  height: 50px;
}
#equals{
  height: 100px;
}
